.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: teal;
    font-family: cursive;
    font-size: 20pt;
}

body{
    margin: 0;
    padding: 0;
    background: teal;
    font-family: cursive;
    color: white;
}

.main{
    border: 2px solid white;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    border-radius: 15px;
    width: 60%;
    height: auto;
    padding-top: 20px;
    margin-top: 80px;
    color: white;
}

.main img{
    height: 200px;
    width: 200px;
}

div button{
    height: 70px;
    /*width: 150px;*/
    border-radius: 5px;
    border: none;
    font-size: 20pt;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5px;
    cursor: pointer;
}