body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.grand{
    display: flex;
    justify-content: center;
    width: 100%;
}

.titre{
    width: 90%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.473);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titre img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 20px;
    left: 70%;
    transition: 0.5s;
}
.titre img:hover{
    transform: scale(1.1);
}

.autre{
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    justify-items: center;

}

.autre div{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.capitale:hover{
    transform: scale(1.1);
}
.capitale{
    background:linear-gradient(45deg,#ec2626,#fa26ef);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
     font-weight: bold;
}
.one{
    padding: 10px;
    color: black;
    padding-left: 50px;
   
}
.afrique{
    background: #fa26ef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: .4s;
}
.afrique:hover{
    transform: scale(1.1);
    background: rgb(179, 175, 175);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}
.amerique{
    background: green;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: .4s;
}
.amerique:hover{
    transform: scale(1.1);
    background: rgb(179, 175, 175);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}
.latine{
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    transition: .4s;
}
.latine:hover{
    transform: scale(1.1);
    background: rgb(179, 175, 175);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}
.asie{
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    transition: .4s;
}
.asie:hover{
    transform: scale(1.1);
    background: rgb(179, 175, 175);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}
.europe{
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    transition: .4s;
}
.europe:hover{
    transform: scale(1.1);
    background: rgb(179, 175, 175);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.726);
}

a{
    color: black;
}

.fotsy{
    color: white;
}

.back{
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}